.dashboard {
  height: 90vh;
  width: 95vw;
  margin: 1.5vh;
  margin-left: 4vh;
  display: flex;
  flex-direction: column;

  .gridTopLeft {
    display: flex;
    justify-content: space-between;
  }

  .gridTopRight {
    display: flex;
    margin-top: 1.5vh;
    justify-content: space-evenly;
  }

  .leftc1 {
    height: 30vh;
    padding: 1vh;
    margin-top: 1.5vh;
    border: 1px solid black;
    border-radius: 10px;
  }

  .centerc1 {
    height: 30vh;
    padding: 1vh;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
  }

  .rightc1 {
    height: 30vh;
    padding: 1vh;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
  }
}

p {
  width: 350px;
  line-height: normal;
}

.dashboardIntro {
  padding: 5px 10px;
}

h2 {
  margin-top: 0;
}

.gridMiddle {
  display: flex;
  .leftMid {
    height: 30vh;
    padding: 1vh;
    margin-top: 4vh;
    border: 1px solid black;
    border-radius: 10px;
  }

  .graph {
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    font-weight: 700;
    align-items: center;
  }

  .rightMid {
    height: 30vh;
    padding: 1vh;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    margin-top: 2.5vh;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
  }

  .gridMidRight {
    display: flex;
    margin-top: 1.5vh;
    justify-content: flex-end;
  }
}

.gridBottomLeft {
  display: flex;
  justify-content: space-evenly;
  .light {
    height: 30vh;
    padding: 1vh;
    margin-top: 4vh;
    border: 1px solid black;
    border-radius: 10px;
  }

  .gridBottomRight {
    display: flex;
    margin-top: 1.5vh;
    align-items: center;
    justify-content: space-evenly;
  }

  .bottomc1 {
    height: 30vh;
    padding: 1vh;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    margin-top: 1vh;
  }

  .bottomRightc1 {
    height: 30vh;
    padding: 1vh;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    margin-top: 1vh;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
  }

  .light {
      display: flex;
      justify-content: center;
      font-size: 1.1em;
      font-weight: 600;
  }
}

.appBar {
  margin-bottom: 2vh;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logOut {
  position: relative;
}